<div class="header">
    <div class="header-title"> 
    <img src="assets/tindin-logo.png">  
    <div class="header-text"> TINDIN </div>
    </div> 
    <input type="text" *ngIf="isLoggedIn===false" class="search-input" formControlName="search" placeholder="Search game here" pInputText /> 
    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded"></button>
    
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px"> 
    <p-carousel *ngIf="isLoggedIn===false" contentClass="carousel-content" [circular]="true" [value]="imgs"  [numVisible]="1">
    
        <ng-template let-img pTemplate="item">
            <div style="display:flex; justify-content: center"> <img class="game-img" src="{{img.url}}"></div>
            
        </ng-template>
    
    </p-carousel>
    
    <div *ngIf="isLoggedIn" class="page-title">
        <div class="page-title-text">
            <h1>Games</h1>
            <span>Games manager portal</span>
        </div>

        <div class="page-title-actions">
            
            <input type="text" *ngIf="isLoggedIn" class="title-search-input" [formControl]="searchGames" placeholder="Search from..." pInputText />
            <button pButton type="button" label="NEW GAME" ></button>
        </div>
    </div>

    <div *ngIf="games; else noGames" class="games-list">
        <div *ngFor="let game of games" class="game-card">
            <img *ngIf="game.photos.length == 0" src="assets/no-image.jpg">
            <img *ngIf="game.photos.length > 0" src="{{game.photos[0].url}}">
            <div class="game-info">
                <span style="text-transform: uppercase; color:white; font-weight: 500; margin-top:15px"> {{game.title}}</span> <br>
                <span style="color:white; font-weight: 600; margin-top: 5px" *ngIf="game.mediumPrice"> $ {{game.mediumPrice | number:'1.2-2'}} </span>
                <div  style="margin-top: 5px" class="game-rating">{{game.rating}} / 10</div>
            </div>
        </div>
    </div>

    <ng-template #noGames><span style="color: white">No games found</span></ng-template>

    <div style="width: 100%; display: flex; justify-content: center"> <button (click)="loadMoreData()" class="load-data" pButton type="button" label="Load more games" ></button> </div> 

</div>

<div class="footer"> 
    <div style="margin-left: 15px"> Coded by <u>Icaro Weiler</u> Tindin - Test for job position!</div>

    <div class="footer-buttons">
        
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text"></button>
        <button pButton pRipple type="button" icon="pi pi-google" class="p-button-rounded p-button-text"></button>
        <button pButton pRipple type="button" icon="pi pi-youtube" class="p-button-rounded p-button-text"></button>
        <button pButton pRipple type="button" icon="pi pi-instagram" class="p-button-rounded p-button-text"></button>
    </div>
    </div>



