.game-img {
    height: 500px;
    width: 90%;
}

.search-input {
    height: 35px;
    width: 200px;
}

.header {
    button {
        background: #2d272b;
        border: 2px solid white !important;
        color: white !important;
    } 
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1 {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    input {
        height: 40px;
        width: 175px;
        border: 2px solid red;
        background: #2d272b;
        color: white;

        
    }
    ::placeholder {
        color: white;
    }

    button {
        margin-left: 15px;
        height: 40px;
        background: #fc4444;
        border: 1px solid #fc4444;
    }
}

.page-title-text {
    color: white;
}

.games-list {
    img {
        height: 250px;
        width: 250px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 65px;

    .game-card {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .game-info {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .game-rating {
            width: 85px;
            border-radius: 10px;
            background: #fc4444;
            color: white;
            font-size: 12px;
        }
    }

    

}

.load-data {
    margin: 15px;
    height: 40px;
    background: #fc4444;
    border: 1px solid #fc4444;
}

.footer {
    position: fixed !important;
}

